<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const LIFF_ID = "{{ LIFF_ID }}";

async function initializeLiff() {
  try {
    await liff.init({ liffId: LIFF_ID });
  } catch (error) {
    alert(`Error initializing LIFF:, ${error}`);
  }
}

window.addEventListener("DOMContentLoaded", async () => {
  console.log("start");
  await initializeLiff();

  const lineIdToken = await liff.getIDToken();

  const query = new URLSearchParams({lineIdToken});
  const response = await fetch(`/api/getting-ups?${query}`)
  const responseData = await response.json()

  const ctx = document.getElementById('myChart');

  const labels = responseData.labels;
  const data = {
    labels: labels,
    datasets: [{
      label: 'My First Dataset',
      data: responseData.data,
      fill: false,
      borderColor: 'rgb(75, 192, 192)',
      tension: 0.1
    }]
  };

  new Chart(ctx, {
    type: 'line',
    data
  });
});
</script>

<div>
  <canvas id="myChart"></canvas>
</div>
